#include <stdio.h>
int main()
{
    long long janu;
    int count = 0;

    printf("Enter an integer: ");
    scanf("%lld", &janu);

    while(janu != 0)
    {
   
        janu /= 10;
        ++count;
    }

    printf("Number of digits: %d", count);
}
